
<% if(loggedin){ %> 
<% include header-loggedin %> 
<% }else{ %>
<% include header %>
<% } %>	

			<section id="top">
				<div class="featured inner">
					<img class="logo" src="/images/saucelogo.png" alt="gimme sauce logo"/>

					<p>Unique products for interesting people.</p>

					<div class="search-bar">
						<form action="/action_search" method="post">
							<input type="text" name="search" placeholder="Search for something cool"/>
							<div class="search-submit">
								<input type="submit"  value="" />
								<!-- <img src="/images/search-icon.png" alt="search"> -->
							</div><!-- /.search-submit-->	
						</form>
					</div><!-- /.search-bar-->
				</div><!-- /.featured-->
			</section>

			<section>

			<div class="products">
			
			<% for(var i=0; i<response.length; i++){%>
				
					<div class="product-block">
						
						<a target="_blank" href="<%= response[i].href %>">

							<div class="product-image">
								<img src="<%= response[i].img %>" alt="<%= response[i].title %>">
							</div><!-- /.product-image-->

							<h2><%= response[i].title %></h2>

							<p><%= response[i].desc %></p>

						</a>

					<% if(loggedin){ %> 
						 <div class="tools">
							<a href="/admin/remove_product?id=<%= response[i]._id%>"><img src="/images/trash-icon.png" alt="trash icon"/></a>
							<a href="/admin/update_product?id=<%= response[i]._id%>"><img src="/images/edit-icon.png" alt="edit icon"/></a>
						</div><!-- /.tools-->
					<% } %>
						
					</div><!-- /.product-block-->
			<% } %>

					
				</div><!-- /.products-->
			</section>
<% include footer %>